:root {
    --bold: 500;
    --title-color: rgb(70, 18, 119);
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: var(--bold);
    margin-bottom: 2rem;
    color: var(--title-color);
}


select {
    margin-left: .5em;
}

.input {
    border: 1px solid #333;
    border-radius: .3em;
    width: 22em;
    padding: 0.25rem;
}
